<div class="row container mt-4"> <!--mt-4 hace una separación arriba-->
  <div class="col-3"> <!--bootstrap cuenta con 12 columnas, aqui se usaran 3-->
    <h2>Búsquedas</h2>
    <hr>
    <ul class="list-group" style="cursor:pointer">
      <li routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item"> <!--routerLinkActive es para que se indique en que link se encuentra, options indica que unicamente ese link estará activo cuando sea exactamente ese, por el path vacío-->
        Buscar país
      </li>
      <li routerLink="region"
        routerLinkActive="active"
        class="list-group-item">
        Por región
      </li>
      <li routerLink ="capital"
        routerLinkActive="active"
        class="list-group-item"> <!--routerLink crea el enlace sin hacer un refresh en el navegador web-->
        Por capital
      </li>
    </ul>
  </div>

  <div class="col"> <!--tome todo lo que queda faltando, si hay 3 columnas usadas quedan 12-3= 9 columnas-->
    <router-outlet></router-outlet> <!--componente que permite renderizar el componente html de la ruta a la que se esté direccionando-->
  </div>

</div>
